__pycache__/
*.py[cod]
*$py.class


*.log
*.pptx
*.ppt
*.pdf
*.xlsx
*.docx
*.doc

.pdm.toml

__pypackages__/
.ipynb_checkpoints
*/.ipynb_checkpoints/*

**/.vscode/
**/.vscode
.vscode/
**/__pycache__/
**/__pycache__
__pycache__/